<h1><%= @article.title %></h1>
<p>
    <%= @article.body %>
</p>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<p><%= image_tag @article.image.url %></p>

<%= render partial: 'comments/form' %>

<h3>Actions</h3>
<p><%= link_to "ðŸ”™ Back to Articles list", articles_path %></p>
<p><%= link_to "ðŸ—‘ï¸ Delete article", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %></p>
<p><%= link_to "âœ Edit article content", edit_article_path(@article) %></p>
